<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">


</head>
<div class="apple">

    <div class="heading">
        <h1>All Common diseases</h1>

    </div>

    <body>
        <div class="main">


            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/common1.jpg">
                    </div>
                    <div class="title">
                        <h1>Powdery Mildew</h1>
                    </div>
                    <div class="des">
                        <p>Powdery mildew is a fungal disease that affects a wide range of plants, characterized by white, powdery spots on leaves and stems. It thrives in warm, dry environments and can quickly spread if left untreated.</p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
            <!--card2  -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/common2.jpg">
                    </div>
                    <div class="title">
                        <h1>Fusarium wilt</h1>
                    </div>
                    <div class="des">
                        <p>Fusarium wilt is a soil-borne fungal disease that affects many plants, causing yellowing, wilting, and browning of leaves. The fungus, Fusarium oxysporum, infects the plant’s vascular system, </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/common3.jpg">
                    </div>
                    <div class="title">
                        <h1>Rusts </h1>
                    </div>
                    <div class="des">
                        <p>Rusts are a group of fungal diseases that affect a variety of plants, producing characteristic rusty-colored spots on leaves, stems, and flowers. These fungi, often in the genus Puccinia, spread through wind
                        </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>


            <!-- card 4 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/common4.jpg">
                    </div>
                    <div class="title">
                        <h1>Alternaria solani</h1>
                    </div>
                    <div class="des">
                        <p>This disease commonly occurs on potato and tomato. The causative agent is Alternaria solani. Lesions first appear on lower epidermis  </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>


            <!-- card 5 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/common5.jpg">
                    </div>
                    <div class="title">
                        <h1>Puccinia</h1>
                    </div>
                    <div class="des">
                        <p>Puccinia spp. Often referred to as rusts, this fungal disease is another one to look out for in North American regions</p>
                     <button class="read-more-btn">Read More</button>
                </div>
            </div>
        </div>

</div>

</body>

</html>