<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<div class="apple">
    <div class="heading">
        <h1>Common Fungal diseases</h1>

    </div>

    <body>
        <div class="main">


            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/fungal3.jpg">
                    </div>
                    <div class="title">
                        <h1>Tomato blight </h1>
                    </div>
                    <div class="des">
                        <p>Tomato blight is a devastating fungal disease that affects tomato plants. It spreads rapidly, causing wilting, brown spots, and reduced crop yields. 


                        </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
            <!--card2  -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/fungal5.webp">
                    </div>
                    <div class="title">
                        <h1>Rhizoctonia rots</h1>
                    </div>
                    <div class="des">
                        <p>Rhizoctonia rots are caused by the soil-borne fungus Rhizoctonia solani, leading to root decay and plant wilt. This disease affects a wide range of crops, weakening plants and reducing yields</p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/fungal3.jpg">
                    </div>
                    <div class="title">
                        <h1>Late Blight </h1>
                    </div>
                    <div class="des">
                        <p>Late blight is a destructive disease caused by the fungus-like organism Phytophthora infestans, affecting tomatoes and potatoes. It leads to rapid plant decay, with dark lesions on leaves, stems, and fruit
                        </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>


            <!-- card 4 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/fungal1.jpg">
                    </div>
                    <div class="title">
                        <h1>Fusarium Wilt</h1>
                    </div>
                    <div class="des">
                        <p>Fusarium wilt is a soil-borne fungal disease caused by Fusarium oxysporum, affecting a wide range of plants. It causes yellowing, wilting, and stunted growth due to the blockage of water and nutrients </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>


            <!-- card 5 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/static/elements/fungus2.jpg">
                    </div>
                    <div class="title">
                        <h1>Downy Mildew</h1>
                    </div>
                    <div class="des">
                        <p>Downy mildew is a fungal-like disease caused by oomycetes, affecting a variety of crops, including cucumbers and grapes. It leads to yellowing of leaves</p>
                    <button class="read-more-btn">Read More</button>
                </div>
            </div>
        </div>

</div>

</body>

</html>