<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="apple">
    <div class="heading">
        <h1>Weed diseases</h1>

    </div>

    <body>
        <div class="main">


            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/ambeldkar_web/weed1.jpg">
                    </div>
                    <div class="title">
                        <h1>Fireblight</h1>
                    </div>
                    <div class="des">
                        <p>The Hidden Threat to Agriculture
                            Exploring the Impact of Fungal Diseases on Plant Health and Crop Yields</p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
            <!--card2  -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/ambeldkar_web/weed2.jpg">
                    </div>
                    <div class="title">
                        <h1>Bacterial spot</h1>
                    </div>
                    <div class="des">
                        <p>The Hidden Threat to Agriculture
                            Exploring the Impact of Fungal Diseases on Plant Health and Crop Yields Exploring the Impact
                            of
                            Fungal Diseases on Plant Health and Crop Yields</p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/ambeldkar_web/weed3.jpg">
                    </div>
                    <div class="title">
                        <h1>Fuzzy spores </h1>
                    </div>
                    <div class="des">
                        <p>Combatting Fungal Threats: Strategies for Disease Management in Agriculture Filmora diseases
                        </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>


            <!-- card 4 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/ambeldkar_web/weed4.webp">
                    </div>
                    <div class="title">
                        <h1>Fusarium Wilt</h1>
                    </div>
                    <div class="des">
                        <p>Fusarium wilt is a soil-borne fungal disease caused by Fusarium oxysporum, affecting a wide range of plants. It causes yellowing, wilting, and stunted growth due to the blockage of water </p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>


            <!-- card 5 -->
            <div class="cards">
                <div class="card-contain">
                    <div class="image">
                        <img src="/ambeldkar_web/weed5.jpg">
                    </div>
                    <div class="title">
                        <h1>Downy Mildew</h1>
                    </div>
                    <div class="des">
                        <p>Downy mildew is a fungal-like disease caused by oomycetes, affecting a variety of crops, including cucumbers and grapes. It leads to yellowing of leaves</p>
                     <button class="read-more-btn">Read More</button>
                </div>
            </div>
        </div>

</div>

</body>

</html>